/* MOBILE FIRTS - 320 px */

/* header */
.header {
    background-color: var(--color-lightGreyOne);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}
.header__img {
    width: 150px;
    height: 38px;
}
/* hamburguer */
#hamburger-container {
    width: 45px;
    height: 45px;
    margin: 18px 15px 0 0;
}
#hamburger button {
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    height: 35px;
    width: 50px;
    margin-top: 0px;
}
#hamburger button span {
    border-radius: 4px;   
    background-color: var(--color-darkGreyTwo);
    display: block;
    width: 60%;
    margin: 5px auto;
    height: 2.5px; 
    animation-duration: 0.6s;
    animation-fill-mode: forwards; 
}
/* animations hamburguer */
#hamburger button.open .top-line { 
    animation-name: top-line-animation;
}
#hamburger button.open .middle-line {
    animation-name: middle-line-animation;
}
#hamburger button.open .button-line {
    animation-name: button-line-animation;
}
#hamburger button .top-line { 
    animation-name: top-line-animation-close;
}
#hamburger button .middle-line {
    animation-name: middle-line-animation-close;
}
#hamburger button .button-line {
    animation-name: button-line-animation-close;
}
@keyframes top-line-animation { 
    50%, 100% { 
        margin: 0 auto;
        transform: translateY(2px) rotate(-45deg);
    }
}
@keyframes button-line-animation {
    50%, 100% { 
        margin: 0 auto;
        transform: translateY(-2px) rotate(45deg);
    }
}
@keyframes middle-line-animation {
    20%, 100% { 
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
}
@keyframes top-line-animation-close { 
    0% { 
        margin: 0 auto;
        transform: translateY(2px) rotate(-45deg);
    }
    50%, 100% {
        margin: 5px auto;
        transform: rotateY(0px) rotate(0deg);
    }
}
@keyframes middle-line-animation-close {
    0% { 
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
    20%, 100% {
        margin: 0 auto;
        width: 60%;
        opacity: 1;
    }
}
@keyframes button-line-animation-close {
    0% { 
        margin: 0 auto;
        transform: translateY(-2px) rotate(45deg);
    }
    50%, 100% { 
        margin: 5px auto;
        transform: translateY(0px) rotate(0deg);
    }
}
/* ----------------------- */
/* menu-nav desplegable */
.header__nav {
    background-color: var(--color-lightGreyOne);
    font-family: var(--font-paragraphs);
    z-index: 1; 
    position: absolute;
    width: 100%;
    max-width: 1300px;
    margin-top: 335px;
    margin-left: 0;
    /* padding-left: 10px; */
}
#navigation-burguer-menu {
    width: 100%;
    margin-left: -15px;
}
.header__nav__span {
    color: var(--color-pink);
    padding: 15px 10px;
    /* margin-top: 10px; */
}
/* .header__nav__container {
    display: flex;
    flex-direction: column; 
} */
.header__nav__container--div {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    cursor: pointer;
}
.header__nav__container--div a {
    text-decoration: none;
}
.header__nav__container--div a, i {
    color: var(--color-darkGreyTwo);
}
/* section hero images with four images*/
.hero { 
    width: 100%;
    height: calc(75vh - 50px);/* 100vh */
    position: relative;
    background-size: cover; 
    background-position: center;
    transition: all .1s ease-in-out;
    background-image: url('../images/background__hero--kids1.png');
    animation: banner 28s infinite linear; /* linear: linear velocity */
}
.hero__container {
    font-family: var(--font-paragraphs);
    color: var(--color-white);
    width: 100%;
    height: 100%;
    padding: 0 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: rgba(0, 0, 0, .5);
}
.hero__container--color span {
    color: var(--color-pink);
}
.hero__container--fontSize {
    font-size: 20px;
}
.hero__container--fonts {
    font-family: var(--font-titles);
    font-size: 16px;
}
@keyframes banner { 
    0% {
        background-image: url('../images/background__hero--kids1.png');
    }
    25% {
        background-image: url('../images/background__hero--kids1.png');
    }
    26% {
        background-image: url('../images/background__hero--kids2.png');
    }
    50% {
        background-image: url('../images/background__hero--kids2.png');
    }
    51% {
        background-image: url('../images/background__hero--kids3.png');
    }
    75% {
        background-image: url('../images/background__hero--kids3.png');
    }
    76% {
        background-image: url('../images/background__hero--kids4.png');
    }
    100% {
        background-image: url('../images/background__hero--kids4.png');
    }
}
/* section with image and paragraph */
.section {
    display: flex;
    text-align: center; 
    justify-content: center;
    padding: 40px 10px;
    background-color: var(--color-lightGreyOne);
}
.section__container__img {
    width: 263px;
    height: 202px;
}
.section__container__line {
    display: none;
}
.section__container__paragraph {
    font-family: var(--font-paragraphs);
    color: var(--color-darkGreyTwo);
    margin-top: 30px; 
} 
/* article with image and faq accordion, includes advertisings */
.article {
    background-color:  var(--color-lightGreyTwo);
    justify-content: center;
}
.article__container__advertising {
    display: flex;
    flex-direction: column;
    padding: 0 10px 40px;
    text-align: center; 
}
.article__container__advertising a img { 
    align-items: center;
    max-width: 90%; 
    margin: 10px 0;
    box-shadow: 0 0 3px rgba(0,0,0,0.9);
    cursor: pointer;
}
.article__container {
    margin-bottom: 50px;  /*  */
    max-width: 700px;
}
.article__container__epigraph {
    background-color: var(--color-lightGreyOne);
    color: var(--color-darkGreyOne);
    height: 30px;
    width: 100%;
    text-align: center;
    padding-top: 5px;
}
/* FAQ accordion */
.article__container__faq {
    max-width: 700px;
    margin-top: 20px;
    padding: 0 15px; 
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-darkGreyOne);
    cursor: pointer;
}
.article__container__faq__question {
    color: var(--color-darkGreyOne);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.article__container__faq__question h4 {
    font-family: var(--font-paragraphs);
    color: var(--color-darkGreyOne);
    font-size: 16px; 
}
.article__container__faq__answer {
    color: var(--color-darkGreyOne);
    max-height: 0;
    overflow: hidden;
    /* The overflow is clipped, and the rest of the content will be invisible */
    transition: max-heigth 1.4s ease;
}
.article__container__faq__answer h3 {
    font-family: var(--font-paragraphs);
    font-size: 20px;
    color: var(--color-indigo);
    padding-top: 10px;
}
.article__container__faq__answer p {
    font-family: var(--font-paragraphs);
    font-size: 18px;
}
.article__container__faq__answer p span {
    color: var(--color-purples);
}
.article__container__faq.active .article__container__faq__answer {    
    max-height: 80%; 
}
.article__container__faq.active i.fas {      
    transform: rotate(180deg);
}
i.fas {
    transition: transform 0.4s ease-in;
}
img.article__container__illustration {
    display: flex;
    justify-content: center; 
    margin: auto;
    margin-top: 20px;
    padding: 0 20px;
    max-width: 90%;
}
/* Slideshow with testimonies */
.slideshow {
    margin-bottom: 30px;
}
.slideshow__container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.slideshow__container__slide {
    display: none; /* Hide the texts by default */
}
.slideshow__container__slide__text {
    font-family: var(--font-titles);
    font-size: 15px;
    color: var(--color-darkGreyTwo);
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: absolute;
    width: 100%;
    text-align: center;
    height: 300px;
    padding: 0 30px; 
}
.slideshow__container__slide__icon {
    color: var(--color-lightGreyThree); 
    justify-content: center; 
    align-items: center; 
    position: absolute;
    text-align: center;
    bottom: 222px;
    font-size: 30px;
}
.slideshow__container__dot {
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: var(--color-lightGreyThree);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;  
}
.act {
    background-color: var(--color-darkGreyOne); 
}
.fade {
    height: 300px;
}
/* Cards */
.card__container {
    background-color: var(--color-lightGreyOne);
    margin-bottom: 10px;
}
.card__container__text {
    font-family: var(--font-titles);
    color: var(--color-darkGreyTwo);
    padding: 15px;
    text-align: start;
    padding: 10px 7px 30px 7px;
}
.card__container__text--color {
    text-transform: uppercase;
    color: var(--color-pink);
}
.card__container__text--margin {
    margin-bottom: 5px;
} 
/* small advertising */
.div__advertising {
    padding: 30px 0px;
    width: 90%;
    margin: auto;
}
.div__advertising a img {
    box-shadow: 0 0 3px rgba(0,0,0,0.9);
    cursor: pointer;
}
/* Contact form */
.form {
    background-color: var(--color-lightBlue);
    text-align: center;
    padding: 40px 0;
}
.form h2 {
    font-family: var(--font-titles);
    color: var(--color-darkGreyTwo);
} 
.form__container {
    padding: 20px 0;
}
.form__container__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.form__container__data input {
    font-family: var(--font-paragraphs);
    padding: 8px 4px;
    outline: none;
    width: 45%;
}
.form__container__data--margin {
    margin-bottom: 10px;
}
.form__container__category {
    font-family: var(--font-paragraphs);
    color: var(--color-darkGreyTwo);
    margin-bottom: 15px;
}
.form__container__category select {
    font-family: var(--font-paragraphs);
    outline: none;
    padding: 4px;
}
.form__container__message {
    margin-bottom: 10px;
}
.form__container__message textarea {
    font-family: var(--font-paragraphs);
    outline: none;
    padding: 4px;
}
.form__container--accept {
    font-family: var(--font-paragraphs);
    color: var(--color-darkGreyTwo);
    margin-bottom: 10px;
}
.form__container--accept button {
    font-family: var(--font-paragraphs);
    background-color: var(--color-darkGreyOne);
    color: var(--color-white);
    outline: none;
    border-style: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 6px;
}
.form__container__terms label {
    font-family: var(--font-paragraphs);
    color: var(--color-darkGreyTwo);
}
.form__container__terms--line {
    font-family: var(--font-paragraphs);
    color: var(--color-indigo);
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
}
.button__send--form {
    margin-top: 12px;
}
.button__send--form button {
    background-color: var(--color-indigo);
    color: var(--color-white);
    outline: none;
    border-style: none;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}
/* modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s;
}
.modal__container {
    margin: auto;
    width: 90%;
    max-width: 500px; 
    max-height: 80%;
    background-color: aliceblue;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1rem;
    place-items: center;
    grid-auto-columns: 100%;
}
.modal__container__title {
    font-family: var(--font-titles);
    font-size: 24px;
    text-align: center;
}
.modal__container__paragraph {
    font-family: var(--font-paragraphs);
    margin-bottom: 10px;
    text-align: center;
}
.modal__container__img {
    width: 90%;
    max-width: 300px;
}
.modal__container--close {
    background-color: var(--color-indigo);
    font-family: var(--font-paragraphs);
    text-decoration: none;
    color: var(--color-white);
    font-weight: bold;
    padding: 1em 2em;
    border-radius: 4px;
    display: inline-block;
}
.modal--show { 
    opacity: 1;
    pointer-events: unset;
    transition: opacity 0.6s;
}
/* footer */
.footer__container {
    background-color: var(--color-oil);
    padding: 50px 30px;
}
.footer__container__text {
    padding-bottom: 15px;
    color: white;
}
.footer__container__text img {
    margin: auto;
}
.footer__container hr {
    background-color: var(--color-lightOil);
    height: 5px;
    border: none;
}
.footer__container__links {
    color: var(--color-white);
    padding-top: 20px;
    text-align: center;
}
.footer__container__links ul li {
    list-style: none;
    cursor: pointer;
}

/* MEDIA QUERY - 768 px */
@media(min-width: 768px) {
 
    /* hero */
    .hero { 
        height: calc(100vh - 50px);
    }
    .hero__container {
        padding: 0 30px; 
    }
    /* section with image and paragraph */
    .section {
        padding: 50px 20px;
    }
    .section__container {
        display: flex;
        flex-direction: row;
    }
    .section__container__img {
        width: 363px;
        height: 302px;
    }
    .section__container__line {
        background-color: var(--color-indigo);
        display: block;
        width: 1%;
        height: 75%;
        margin-top: 5%;
    }
    .section__container__paragraph {
        margin-top: 0; 
        display: flex;
        align-items: center;
    } 
    /* article with image and faq accordion, includes advertisings */
    .article {
        display: flex;
        flex-direction: row;
    }
    .article__container__advertising {
        order: 2;
    }
    .article__container {
        order: 1;
        padding-left: 20px; 
    }
    .article__container__advertising a img {
        margin: 0;
    }
    .article__container__advertising--margin {
        margin-top: 30px;
    }
    img.article__container__illustration {
        margin-top: 20px;
        width: 360px;
        height: 270px;
    }
    .slideshow__container__slide__text {
        padding: 0 60px;
    }
    /* cards */ 
    section.card {
        display: flex;
        /* flex-wrap: wrap; */
        max-width: 49%;
        display: inline-block;
    }
    article.card__container {
        margin: auto;
        margin-top: 20px;
        max-width: 80%;
    }
    /* small advertising */
    .div__advertising {
        width: 70%;
    }
    /* footer */
    .footer__container__text {
        display: flex;
        flex-direction: row;
    }
    .footer__container__text img {
        padding-right: 20px;
    }
    .footer__container__links {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .footer__container__links ul {
        text-align: center;
        justify-content: space-around;
        width: 100%;
    }
    .footer__container__links ul li {
        display: flex;
        padding: 0 20px;
    }

}

    @media (min-width: 1008px) {
        
    /* modal */
    .modal__container--close {
        transition: background-color .4s; 
    }
    .modal__container--close:hover {
        color: var(--color-darkGreyTwo);
        background-color: var(--color-purples);
        transition: all .4s; 
    }
}
    @media (min-width: 1200px) {

    /* Section cards */
    section.card {
        max-width: 24%;
    }
    article.card__container {
        margin-right: 10px;
    }
    article.card__container { 
        box-shadow: none; /* shadow in card*/
        transition: box-shadow 500ms;
    }
    article.card__container:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100); 
    }
    /* form */
    .button__send--form button {
        padding: 15px;
    }
    /* footer */
    .footer__container__links ul li {
        padding: 0 50px;  
    }
} 