/* all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.header {
    background: #f1f1f1;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}
.header__img {
    width: 150px;
    height: 40px;
}

/* section hero images with four images*/
.hero { 
    width: 100%;
    height: calc(100vh - 50px);
    position: relative;
    background-size: cover; 
    background-position: center;
    transition: all .1s ease-in-out;
    background-image: url('../images/background__hero--kids1.png');
    animation: banner 28s infinite linear; /* linear: linear velocity */
}
.hero__container {
    width: 100%;
    height: 100%;
    padding: 0 5px; 
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.hero__container--color span {
    color: #f778b9;
}
.hero__container--fontSize {
    font-size: 20px;
}
.hero__container--fonts {
    font-family: 'Merriweather', serif;
    font-size: 16px;
}
/* 
font-family: 'Merriweather', serif;
font-family: 'Source Sans Pro', sans-serif; 
*/
@keyframes banner { 
    0% {
        background-image: url('../images/background__hero--kids1.png');
    }
    25% {
        background-image: url('../images/background__hero--kids1.png');
    }
    26% {
        background-image: url('../images/background__hero--kids2.png');
    }
    50% {
        background-image: url('../images/background__hero--kids2.png');
    }
    51% {
        background-image: url('../images/background__hero--kids3.png');
    }
    75% {
        background-image: url('../images/background__hero--kids3.png');
    }
    76% {
        background-image: url('../images/background__hero--kids4.png');
    }
    100% {
        background-image: url('../images/background__hero--kids4.png');
    }
}

/* section with image and paragraph */
.section {
    display: flex;
    text-align: center;
    padding: 40px 10px;
    background-color: #e4e4e4;
}
.section__container__img {
    width: 263px;
    height: 202px;
}
.section__container__line {
    display: none;
}
.section__container__paragraph {
    margin-top: 30px; 
    font-family: 'Source Sans Pro', sans-serif;
} 

/* .button__send {

}
.button__send:hover {
  
}

.button__send--news {

}

.button__send--form {

} */

/* MEDIA QUERY - 768 px */
@media(min-width: 768px) {

    .section {
        padding: 50px 20px;
    }
    .section__container {
        display: flex;
        flex-direction: row;
    }
    .section__container__img {
        width: 363px;
        height: 302px;
    }
    .section__container__line {
        display: block;
        background-color: #486db7;
        width: 1%;
        height: 75%;
        margin-top: 5%;
    }
    .section__container__paragraph {
        margin-top: 0; 
        display: flex;
        align-items: center;
    } 

} 