/* all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.header {
    background: #f1f1f1;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}
.header__img {
    width: 150px;
    height: 40px;
}

/* section hero images with four images*/
.hero { 
    width: 100%;
    height: calc(100vh - 50px);
    position: relative;
    background-size: cover; 
    background-position: center;
    transition: all .1s ease-in-out;
    background-image: url('../images/background__hero--kids1.png');
    animation: banner 28s infinite linear; /* linear: linear velocity */
}
.hero__container {
    width: 100%;
    height: 100%;
    padding: 0 5px; 
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.hero__container--color span {
    color: #f778b9;
}
.hero__container--fontSize {
    font-size: 20px;
}
.hero__container--fonts {
    font-family: 'Merriweather', serif;
    font-size: 16px;
}
/* 
font-family: 'Merriweather', serif;
font-family: 'Source Sans Pro', sans-serif; 
*/
@keyframes banner { 
    0% {
        background-image: url('../images/background__hero--kids1.png');
    }
    25% {
        background-image: url('../images/background__hero--kids1.png');
    }
    26% {
        background-image: url('../images/background__hero--kids2.png');
    }
    50% {
        background-image: url('../images/background__hero--kids2.png');
    }
    51% {
        background-image: url('../images/background__hero--kids3.png');
    }
    75% {
        background-image: url('../images/background__hero--kids3.png');
    }
    76% {
        background-image: url('../images/background__hero--kids4.png');
    }
    100% {
        background-image: url('../images/background__hero--kids4.png');
    }
}

/* section with image and paragraph */
.section {
    display: flex;
    text-align: center; 
    justify-content: center;
    padding: 40px 10px;
    background-color: #e4e4e4;
}
.section__container__img {
    width: 263px;
    height: 202px;
}
.section__container__line {
    display: none;
}
.section__container__paragraph {
    margin-top: 30px; 
    font-family: 'Source Sans Pro', sans-serif;
} 

/* article with image and faq accordion, includes advertisings */
.article {
    background-color: #e4e4e4;
    justify-content: center;
}
.article__container__advertising {
    display: flex;
    flex-direction: column;
    padding: 0 10px 40px;
    text-align: center; 
}
.article__container__advertising a img { /* dentro de una a? */
    align-items: center;
    max-width: 90%; 
    margin: 10px 0;
}
.article__container {
    margin-bottom: 50px;  /*  */
    max-width: 700px;
}
.article__container__epigraph {
    background-color: rgb(194, 156, 211);
    height: 30px;
    width: 100%;
    text-align: center;
    padding-top: 5px;
}

/* FAQ accordion */
.article__container__faq {
    max-width: 700px;
    margin-top: 20px;
    padding: 0 15px; 
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
    cursor: pointer;
}
.article__container__faq__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.article__container__faq__question h4 {
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 16px;
}
.article__container__faq__answer {
    max-height: 0;
    overflow: hidden;
    /* The overflow is clipped, and the rest of the content will be invisible */
    transition: max-heigth 1.4s ease;
}
.article__container__faq__answer h3 {
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 20px;
    color: #486db7;
    padding-top: 10px;
}
.article__container__faq__answer p {
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 18px;
}
.article__container__faq__answer p span {
    color: #b378ff;
}
.article__container__faq.active .article__container__faq__answer {    
    max-height: 80%; 
}
.article__container__faq.active i.fas {      
    transform: rotate(180deg);
}
i.fas {
    transition: transform 0.4s ease-in;
}

/* .button__send {

}
.button__send:hover {
  
}

.button__send--news {

}

.button__send--form {

} */

/* MEDIA QUERY - 768 px */
@media(min-width: 768px) {

    /* section with image and paragraph */
    .section {
        padding: 50px 20px;
    }
    .section__container {
        display: flex;
        flex-direction: row;
    }
    .section__container__img {
        width: 363px;
        height: 302px;
    }
    .section__container__line {
        display: block;
        background-color: #486db7;
        width: 1%;
        height: 75%;
        margin-top: 5%;
    }
    .section__container__paragraph {
        margin-top: 0; 
        display: flex;
        align-items: center;
    } 
    /* article with image and faq accordion, includes advertisings */
    .article {
        display: flex;
        flex-direction: row;
    }
    .article__container__advertising {
        order: 2;
    }
    .article__container {
        order: 1;
        padding-left: 20px; 
    }
    .article__container__advertising a img {
        margin: 0;
    }
    .article__container__advertising--margin {
        margin-top: 30px;
    }

} 