/* MOBILE FIRTS - 320 px */
/* all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.header {
    background: #f1f1f1;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}
.header__img {
    width: 150px;
    height: 40px;
}

/* section hero images with four images*/
.hero { 
    width: 100%;
    height: calc(100vh - 50px);
    position: relative;
    background-size: cover; 
    background-position: center;
    transition: all .1s ease-in-out;
    background-image: url('../images/background__hero--kids1.png');
    animation: banner 28s infinite linear; /* linear: linear velocity */
}
.hero__container {
    width: 100%;
    height: 100%;
    padding: 0 5px; 
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.hero__container--color span {
    color: #f778b9;
}
.hero__container--fontSize {
    font-size: 20px;
}
.hero__container--fonts {
    font-family: 'Merriweather', serif;
    font-size: 16px;
}
/* 
font-family: 'Merriweather', serif;
font-family: 'Source Sans Pro', sans-serif; 
*/
@keyframes banner { 
    0% {
        background-image: url('../images/background__hero--kids1.png');
    }
    25% {
        background-image: url('../images/background__hero--kids1.png');
    }
    26% {
        background-image: url('../images/background__hero--kids2.png');
    }
    50% {
        background-image: url('../images/background__hero--kids2.png');
    }
    51% {
        background-image: url('../images/background__hero--kids3.png');
    }
    75% {
        background-image: url('../images/background__hero--kids3.png');
    }
    76% {
        background-image: url('../images/background__hero--kids4.png');
    }
    100% {
        background-image: url('../images/background__hero--kids4.png');
    }
}

/* section with image and paragraph */
.section {
    display: flex;
    text-align: center; 
    justify-content: center;
    padding: 40px 10px;
    background-color: #e4e4e4;
}
.section__container__img {
    width: 263px;
    height: 202px;
}
.section__container__line {
    display: none;
}
.section__container__paragraph {
    margin-top: 30px; 
    font-family: 'Source Sans Pro', sans-serif;
} 

/* article with image and faq accordion, includes advertisings */
.article {
    background-color: #e4e4e4;
    justify-content: center;
}
.article__container__advertising {
    display: flex;
    flex-direction: column;
    padding: 0 10px 40px;
    text-align: center; 
}
.article__container__advertising a img { 
    align-items: center;
    max-width: 90%; 
    margin: 10px 0;
    box-shadow: 0 0 3px rgba(0,0,0,0.9);
    cursor: pointer;
}
.article__container {
    margin-bottom: 50px;  /*  */
    max-width: 700px;
}
.article__container__epigraph {
    background-color: rgb(194, 156, 211);
    height: 30px;
    width: 100%;
    text-align: center;
    padding-top: 5px;
}

/* FAQ accordion */
.article__container__faq {
    max-width: 700px;
    margin-top: 20px;
    padding: 0 15px; 
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
    cursor: pointer;
}
.article__container__faq__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.article__container__faq__question h4 {
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 16px;
}
.article__container__faq__answer {
    max-height: 0;
    overflow: hidden;
    /* The overflow is clipped, and the rest of the content will be invisible */
    transition: max-heigth 1.4s ease;
}
.article__container__faq__answer h3 {
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 20px;
    color: #486db7;
    padding-top: 10px;
}
.article__container__faq__answer p {
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 18px;
}
.article__container__faq__answer p span {
    color: #b378ff;
}
.article__container__faq.active .article__container__faq__answer {    
    max-height: 80%; 
}
.article__container__faq.active i.fas {      
    transform: rotate(180deg);
}
i.fas {
    transition: transform 0.4s ease-in;
}
img.article__container__illustration {
    display: flex;
    justify-content: center; 
    margin: auto;
    margin-top: 20px;
    padding: 0 20px;
    max-width: 90%;
}

/* Slideshow with testimonies */
.slideshow {
    margin-bottom: 30px;
}
.slideshow__container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.slideshow__container__slide {
    display: none; /* Hide the texts by default */
}
.slideshow__container__slide__text {
    font-family: 'Merriweather', serif;
    font-size: 15px;
    color: #f2f2f2;
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: absolute;
    width: 100%;
    text-align: center;
    height: 300px;
    padding: 0 30px; 
}
.slideshow__container__slide__icon {
    justify-content: center; 
    align-items: center; 
    position: absolute;
    text-align: center;
    bottom: 222px;
    font-size: 30px;
}
.slideshow__container__dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;  
}
.act {
    background-color: #717171; 
}
.fade {
    background-color: #b378ff;
    height: 300px;
}
/* Cards */
.card__container {
    background-color: white;
    margin-bottom: 10px;
}
.card__container__text {
    font-family: 'Merriweather', serif;
    padding: 15px;
    text-align: start;
    color: #414141;
    padding: 10px 7px 30px 7px;
}
.card__container__text--color {
    text-transform: uppercase;
    color: #f778b9;
}
.card__container__text--margin {
    margin-bottom: 5px;
} 
/* small advertising */
.div__advertising {
    padding: 30px 0px;
    width: 90%;
    margin: auto;
}
.div__advertising a img {
    box-shadow: 0 0 3px rgba(0,0,0,0.9);
    cursor: pointer;
}
/* Contact form */
.form {
    background-color: #ECF0F7;
    text-align: center;
    padding: 40px 0;
}
/* .form img {
 
} */
.form__container {
    padding: 20px 0;
}
.form__container__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.form__container__data input {
    padding: 8px 4px;
    outline: none;
    width: 45%;
}
.form__container__data--margin {
    margin-bottom: 10px;
}
.form__container__category {
    margin-bottom: 15px;
}
.form__container__category select {
    outline: none;
    padding: 4px;
}
.form__container__message {
    margin-bottom: 10px;
}
.form__container__message textarea {
    outline: none;
    padding: 4px;
}
.form__container--accept {
    margin-bottom: 10px;
}
.form__container--accept button {
    background-color: #b1b1b1;
    color: white;
    outline: none;
    border-style: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 6px;
}
.form__container__terms--line {
    text-decoration: none;
    color: #337E93;
    cursor: pointer;
    margin-top: 10px;
}
.button__send--form {
  margin-top: 12px;
}
.button__send--form button {
    background-color: #486db7;
    color: white;
    outline: none;
    border-style: none;
    padding: 12px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}
/* footer */
.footer__container {
    background-color: #265E6C;
    padding: 50px 30px;
}
.footer__container__text {
    padding-bottom: 15px;
    color: white;
}
.footer__container__text img {
    margin: auto;
}
.footer__container hr {
    background-color: #337E93;
    height: 5px;
    border: none;
}
.footer__container__links {
    padding-top: 20px;
    color: white;
    text-align: center;
}
.footer__container__links ul li {
    list-style: none;
    cursor: pointer;
}

/* MEDIA QUERY - 768 px */
@media(min-width: 768px) {

    /* section with image and paragraph */
    .section {
        padding: 50px 20px;
    }
    .section__container {
        display: flex;
        flex-direction: row;
    }
    .section__container__img {
        width: 363px;
        height: 302px;
    }
    .section__container__line {
        display: block;
        background-color: #486db7;
        width: 1%;
        height: 75%;
        margin-top: 5%;
    }
    .section__container__paragraph {
        margin-top: 0; 
        display: flex;
        align-items: center;
    } 
    /* article with image and faq accordion, includes advertisings */
    .article {
        display: flex;
        flex-direction: row;
    }
    .article__container__advertising {
        order: 2;
    }
    .article__container {
        order: 1;
        padding-left: 20px; 
    }
    .article__container__advertising a img {
        margin: 0;
    }
    .article__container__advertising--margin {
        margin-top: 30px;
    }
    img.article__container__illustration {
        margin-top: 20px;
        width: 360px;
        height: 270px;
    }
    .slideshow__container__slide__text {
        padding: 0 60px;
    }
    /* cards */
    section.card {
        display: flex;
        /* flex-wrap: wrap; */
        max-width: 49%;
        display: inline-block;
    }
    article.card__container {
        margin: auto;
        margin-top: 20px;
        max-width: 80%;
    }
    /* small advertising */
    .div__advertising {
        width: 70%;
    }
    /* footer */
    .footer__container__text {
        display: flex;
        flex-direction: row;
    }
    .footer__container__text img {
        padding-right: 20px;
    }
    .footer__container__links {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .footer__container__links ul {
        text-align: center;
        justify-content: space-around;
        width: 100%;
    }
    .footer__container__links ul li {
        display: flex;
        padding: 0 20px;
    }

}

    @media (min-width: 1200px) {

    /* Section cards */
    section.card {
        max-width: 24%;
    }
    article.card__container {
        margin-right: 10px;
    }
    article.card__container { 
        box-shadow: none; /* shadow in card*/
        transition: box-shadow 500ms;
    }
    article.card__container:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100); 
    }
    /* form */
    .button__send--form button {
        padding: 15px;
    }
    /* footer */
    .footer__container__links ul li {
        padding: 0 50px;  
    }
} 