<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mejor con salud</title>
    <!-- fontawesone -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <!-- styles -->
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>

    <header class="header">
        
        <i class="header__icon far fa-bars"></i>
        <img class="header__img" src="../images/logo ES.png" alt="logo Mejor con Salud" width="100%">
        <i class="header__icon far fa-search"></i>
        <!-- <i class="header__icon fal fa-times"></i> -->

    </header>

    <section class="hero">
        <div class="hero__container">
            <h1 class="hero__container--color">Su viaje  de <span>salud emocional</span> comienza aquí</h1>
            <br>
            <h2 class="hero__container--fontSize">Conoce a nuestros profesionales con licencia</h2>
            <h3 class="hero__container--fonts">Todos se someten a un proceso seguro de verificación y acreditación, además de adherirse a estrictos códigos de ética y confidencialidad</h3>
        </div>
    </section>

    <section class="section">
        <div class="section__container">
            <img class="section__container__img" src="../images/trabajo.png" alt="Ilustración de trabajadores">
            <hr class="section__container__line">
            <p class="section__container__paragraph">
                ¿Cómo podemos diseñar una educación que tenga como resultado niños más responsables?
                En este artículo compartimos algunas estrategias que aumentan la probabilidad de éxito para este objetivo.
            </p> 
        </div>
    </section>

    <article>
        
    </article>
    
</body>
</html>