<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1">
    <meta name="language" content="spanish">
    <meta name="copyright" content="Grupo MContigo">
    <meta name="author" content="La Mente es Maravillosa">
    <meta name="audience" content="all">
    <meta name="description" content="¿Cómo podemos diseñar una educación que tenga como resultado niños más responsables? Te compartimos estrategias que aumentan la probabilidad de éxito.">
    <meta name="keywords" content="educación, niños, salud">
    <meta name="robots" content="index, all, follow">
    <meta name="category" content="Salud y Educación">
    <meta itemprop="telephone" content="">
    <link rel="icon" type="image/x-icon" href="../images/icon.png">
    <title>Mejor con salud: Su viaje de salud emocional empieza aquí.</title>
    <!-- fontawesone -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <!-- styles -->
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>

    <header class="header">
        
        <i class="header__icon far fa-bars"></i>
        <img class="header__img" src="../images/logo ES.png" alt="logo Mejor con Salud" width="100%">
        <i class="header__icon far fa-search"></i>
        <!-- <i class="header__icon fal fa-times"></i> -->

    </header>

    <section class="hero">
        <div class="hero__container">
            <h1 class="hero__container--color">Su viaje  de <span>salud emocional</span> comienza aquí</h1>
            <br>
            <h2 class="hero__container--fontSize">Conoce a nuestros profesionales con licencia</h2>
            <h3 class="hero__container--fonts">Todos se someten a un proceso seguro de verificación y acreditación, además de adherirse a estrictos códigos de ética y confidencialidad</h3>
        </div>
    </section>

    <section class="section">
        <div class="section__container">
            <img class="section__container__img" src="../images/trabajo.png" alt="Ilustración de trabajadores">
            <hr class="section__container__line">
            <p class="section__container__paragraph">
                ¿Cómo podemos diseñar una educación que tenga como resultado niños más responsables?
                En este artículo compartimos algunas estrategias que aumentan la probabilidad de éxito para este objetivo.
            </p> 
        </div>
    </section>

    <article class="article">

        <div class="article__container__advertising">
            <a href="https://www.mcdonalds.com.ar/" target="_blank"><img src="../images/McDonalds.png" alt="McDonalds" width="100%"></a>
            <a href="https://youthcamp.es/" target="_blank" class="article__container__advertising--margin"><img src="../images/YourCamp.png" alt="YourCamp" width="100%"></a>
        </div>
        
        <div class="article__container">
            <img src="../images/intermediatePhoto.png" alt="Foto de una mamá conversando con su hijita" width="100%"> 
            <div class="article__container__epigraph">encabezado de la foto</div> 
            
            <div class="article__container__faq">
                <div class="article__container__faq__question">
                    <h4>¿Cuáles son los pasos para tomar una decisión?</h4>
                    <i class="fas fa-angle-down"></i>
                </div>
                <div class="article__container__faq__answer">
                    <h3>1. Asignarles tareas sencillas</h3>
                    <p>
                        La primera idea o estrategia para ayudar a los niños a ser responsables
                        es asignarles tareas sencillas. Para que la situación sea más fácil, 
                        puede ser conveniente que un adulto también las haga. Por ejemplo,
                        ayudar a lavar los platos o hacer la colada con alguno de los 
                        progenitores es una buena manera de empezar. Será el primer paso
                        para que adquieran autonomía: ser sus modelos. <span>Pueden recoger los 
                        platos mientras uno de los progenitores los empieza a lavar.</span> Pueden hacer 
                        lo mismo con su propia colada, que separen su ropa blanca de la oscura
                        y la lleven hacia los cubos correspondientes. De esta forma, 
                        progresivamente, los niños pueden comenzar a adquirir responsabilidades,
                        lo que se trasladará también al uso de la tecnología, hacer los deberes,
                        gestionar mejor su tiempo (trabajos para clase, tiempo para los amigos, 
                        juegos, etc.).
                    </p>
                </div>
            </div>

        </div>
        
    </article>

    <script src="../js/scripts.js" defer></script> 

</body>
</html>