<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1">
    <meta name="language" content="spanish">
    <meta name="copyright" content="Grupo MContigo">
    <meta name="author" content="La Mente es Maravillosa">
    <meta name="audience" content="all">
    <meta name="description" content="¿Cómo podemos diseñar una educación que tenga como resultado niños más responsables? Te compartimos estrategias que aumentan la probabilidad de éxito.">
    <meta name="keywords" content="educación, niños, salud">
    <meta name="robots" content="index, all, follow">
    <meta name="category" content="Salud y Educación">
    <meta itemprop="telephone" content="">
    <link rel="icon" type="image/x-icon" href="../images/icon.png">
    <title>Mejor con salud: Su viaje de salud emocional empieza aquí.</title>
    <!-- fontawesone -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <!-- styles -->
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>

    <header class="header">
        
        <div id="hamburger-container" onclick="dropMenu()">
            <div id="hamburger">
                <button>
                    <span class="top-line"></span>
                    <span class="middle-line"></span>
                    <span class="button-line"></span>
                </button>
            </div>
        </div>

        <img class="header__img" src="../images/logoMejorConSalud.png" alt="logo Mejor con Salud" width="100%">
        
        <i class="header__icon far fa-search"></i>

        <nav class="header__nav" id="navigation-burguer-menu">

            <span class="header__nav__span">Embarazo</span>
            <hr>
            <div class="header__nav__container">
                <div class="header__nav__container--div"><a href="">Quiero ser mamá</a><i class="fas fa-arrow-right"></i></div> 
                <div class="header__nav__container--div"><a href="">Voy a ser mamá</a><i class="fas fa-arrow-right"></i></div>
                <div class="header__nav__container--div"><a href="">Parto</a><i class="fas fa-arrow-right"></i></div>
            </div>
            
            <span class="header__nav__span">Educación</span>
            <hr>
            <div class="header__nav__container">
                <div class="header__nav__container--div"><a href="">Aprende a ser mamá</a><i class="fas fa-arrow-right"></i></div> 
                <div class="header__nav__container--div"><a href="">Educación para bebés</a><i class="fas fa-arrow-right"></i></div> 
                <div class="header__nav__container--div"><a href="">Educación para niños</a><i class="fas fa-arrow-right"></i></div> 
            </div>

        </nav> 

    </header>

    <section class="hero">
        <div class="hero__container">
            <h1 class="hero__container--color">Su viaje de <span>salud emocional</span> comienza aquí</h1>
            <br>
            <h2 class="hero__container--fontSize">Conoce a nuestros profesionales con licencia</h2>
            <h3 class="hero__container--fonts">Todos se someten a un proceso seguro de verificación y acreditación, además de adherirse a estrictos códigos de ética y confidencialidad</h3>
        </div>
    </section>

    <section class="section">
        <div class="section__container">
            <img class="section__container__img" src="../images/trabajo.png" alt="Ilustración de trabajadores">
            <hr class="section__container__line">
            <p class="section__container__paragraph">
                ¿Cómo podemos diseñar una educación que tenga como resultado niños más responsables?
                En este artículo compartimos algunas estrategias que aumentan la probabilidad de éxito para este objetivo.
            </p> 
        </div>
    </section>

    <article class="article">

        <div class="article__container__advertising">
            <a href="https://www.mcdonalds.com.ar/" target="_blank"><img src="../images/McDonalds.png" alt="McDonalds" width="100%"></a>
            <a href="https://youthcamp.es/" target="_blank" class="article__container__advertising--margin"><img src="../images/YourCamp.png" alt="YourCamp" width="100%"></a>
        </div>
        
        <div class="article__container">
            <img src="../images/intermediatePhoto.png" alt="Foto de una mamá conversando con su hijita" width="100%"> 
            <div class="article__container__epigraph">Los padres pueden educar a sus hijos para que sean adultos responsables y maduros</div> 
            
            <div class="article__container__faq">
                <div class="article__container__faq__question">
                    <h4>¿Cuáles son los pasos para tomar una decisión?</h4>
                    <i class="fas fa-angle-down"></i>
                </div>
                <div class="article__container__faq__answer">
                    <h3>1. Asignarles tareas sencillas</h3>
                    <p>
                        La primera idea o estrategia para ayudar a los niños a ser responsables
                        es asignarles tareas sencillas. Para que la situación sea más fácil, 
                        puede ser conveniente que un adulto también las haga. Por ejemplo,
                        ayudar a lavar los platos o hacer la colada con alguno de los 
                        progenitores es una buena manera de empezar. Será el primer paso
                        para que adquieran autonomía: ser sus modelos. <span>Pueden recoger los 
                        platos mientras uno de los progenitores los empieza a lavar.</span> Pueden hacer 
                        lo mismo con su propia colada, que separen su ropa blanca de la oscura
                        y la lleven hacia los cubos correspondientes. De esta forma, 
                        progresivamente, los niños pueden comenzar a adquirir responsabilidades,
                        lo que se trasladará también al uso de la tecnología, hacer los deberes,
                        gestionar mejor su tiempo (trabajos para clase, tiempo para los amigos, 
                        juegos, etc.).
                    </p>
                </div>
            </div>

            <img class="article__container__illustration" src="../images/bienestar.png" alt="Ilustración en busca del bienestar" width="100%">
        </div>
        
    </article>

    <section class="slideshow">

        <div class="slideshow__container">

            <div class="slideshow__container__slide fade">
                <div class="slideshow__container__slide__text">
                    <i class="slideshow__container__slide__icon fas fa-quote-right"></i>
                    <br>
                    1-Me gustaría agradecer al sitio, me ayudó de una manera inimaginable,
                    el psicólogo fue sumamente servicial y acogedor conmigo
                    y me siento mejor conmigo mismo.
                    <br>
                    <br>
                    ~ Maria Montessori ~
                </div>
            </div>
  
            <div class="slideshow__container__slide fade">
                <div class="slideshow__container__slide__text">
                    <i class="slideshow__container__slide__icon fas fa-quote-right"></i>
                    <br>
                    2-Me gustaría agradecer al sitio, me ayudó de una manera inimaginable,
                    el psicólogo fue sumamente servicial y acogedor conmigo
                    y me siento mejor conmigo mismo. 
                    <br>
                    <br>
                    ~ Maria Montessori ~
                </div>
            </div>
  
            <div class="slideshow__container__slide fade">
                <div class="slideshow__container__slide__text">
                    <i class="slideshow__container__slide__icon fas fa-quote-right"></i>
                    <br>
                    3-Me gustaría agradecer al sitio, me ayudó de una manera inimaginable,
                    el psicólogo fue sumamente servicial y acogedor conmigo
                    y me siento mejor conmigo mismo. 
                    <br>
                    <br>
                    ~ Maria Montessori ~
                </div>
            </div>

        </div> 
        <br>
  
        <div style="text-align:center">
            <span class="slideshow__container__dot"></span> 
            <span class="slideshow__container__dot"></span> 
            <span class="slideshow__container__dot"></span> 
        </div>

    </section>

    <section class="card">
        <article class="card__container">
            <img src="../images/card.jpg" width="100%" alt="Colapso mental">
            <div class="card__container__text">
                <h6 class="card__container__text--color">nutrición</h6>
                <h3 class="card__container__text--margin">Colapso mental: cuando siento el peso del mundo sobre mí</h3>
                <p>A veces nos sentimos como Atlas, aquel titán al que Zeus castigó y le obligó a llevar el peso de...</p>
            </div>
        </article>
    </section>

    <section class="card">
        <article class="card__container">
            <img src="../images/card.jpg" width="100%" alt="Colapso mental">
            <div class="card__container__text">
                <h6 class="card__container__text--color">nutrición</h6>
                <h3 class="card__container__text--margin">Colapso mental: cuando siento el peso del mundo sobre mí</h3>
                <p>A veces nos sentimos como Atlas, aquel titán al que Zeus castigó y le obligó a llevar el peso de...</p>
            </div>
        </article>
    </section>

    <section class="card">
        <article class="card__container">
            <img src="../images/card.jpg" width="100%" alt="Colapso mental">
            <div class="card__container__text">
                <h6 class="card__container__text--color">nutrición</h6>
                <h3 class="card__container__text--margin">Colapso mental: cuando siento el peso del mundo sobre mí</h3>
                <p>A veces nos sentimos como Atlas, aquel titán al que Zeus castigó y le obligó a llevar el peso de...</p>
            </div>
        </article>
    </section>

    <section class="card">
        <article class="card__container">
            <img src="../images/card.jpg" width="100%" alt="Colapso mental">
            <div class="card__container__text">
                <h6 class="card__container__text--color">nutrición</h6>
                <h3 class="card__container__text--margin">Colapso mental: cuando siento el peso del mundo sobre mí</h3>
                <p>A veces nos sentimos como Atlas, aquel titán al que Zeus castigó y le obligó a llevar el peso de...</p>
            </div>
        </article>
    </section>

    <div class="div__advertising">
        <a href="https://youthcamp.es/" target="_blank"><img src="../images/YourCampSmall.png" alt="YourCamp" width="100%"></a>
    </div>

    <section class="form">
        <img src="../images/message.png" alt="Ilustración de mensajes">
        <h2>Suscríbete </h2>

        <form action="" class="form__container">

            <div class="form__container__data">
                <input class="form__container__data--margin" type="name" placeholder="Inserte su nombre">
                <input type="email" placeholder="Inserte su correo electrónico">
            </div>

            <div class="form__container__category">
                <label for="">Seleccione categoria</label>
                <select name="category" id="select">
                    <option value="Salud">Salud</option>
                    <option value="Educación">Educación</option>
                    <option value="Otro">etc</option>
                </select>
            </div>

            <div class="form__container__message">
                <textarea name="message" id="message" cols="30" rows="10" placeholder="Mensaje"></textarea>
            </div>
            
            <div class="form__container--accept">
                <label for="">Acepto que me envien más información</label> 
                <input type="radio">
                <br>
                <button class="button__send">No, gracias</button>
            </div>

            <div class="form__container__terms">
                <label for="">Acepto <a href="" class="form__container__terms--line">términos y condiciones</a></label> 
                <input type="checkbox">
            </div>
            
            <div class="button__send--form">
                <button class="button__send--subscribe">Suscribirme</button>
            </div>

        </form>

    </section>

    <section class="modal">
        <div class="modal__container">
            <img class="modal__container__img" src="../images/suporte.png" alt="Ilustración de soporte en línea">
            <h2 class="modal__container__title">Bienvenido a <em>Mejor con Salud!!</em></h2>
            <p class="modal__container__paragraph">Gracias por permitirnos llevarte los últimos artículos de interés general, además estaremos encantados si tienes alguna consulta o sugerencia para darnos!</p>
            <a class="modal__container--close" href="#">Ingresar</a>
        </div>
    </section>

    <footer class="footer__container">

        <div class="footer__container__text">
            <img src="../images/logoMcontigo.png" alt="Logo MContigo">
            <br>
            <br>
            <p>
                La Mente es Maravillosa es propiedad del Grupo MContigo
                © 2012 - 2020. Todos los derechos reservados.
                <br>
                <br>
                Los contenidos de esta publicación se redactan solo con fines 
                informativos. En ningún momento pueden servir para facilitar
                diagnósticos o sustituir la labor de un profesional. Le recomendamos
                que contacte con su especialista de confianza.
            </p>
        </div>
        <hr>

        <div class="footer__container__links">
            <ul>
                <li>Política de Cookies</li>
            </ul> 
            <ul>
                <li>Política de privacidad</li>
            </ul>
            <ul>
                <li>Términos y condiciones de uso</li>
            </ul>
            <ul>
                <li>Cláusula Informativa de consentimiento</li>
            </ul>
        </div>
    </footer>

    <script src="../js/scripts.js" defer></script> 

</body>
</html>